/*------------
RESET
-------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------
GENERAL
-------------*/
body{
    font-family: "Montserrat", sans-serif;
    max-height: 100vh;
    font-size: 14px;
    background-color: #DBDBD3;
}

.white-background-bell{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.main-container{
    display: flex;
    width: 80vw;
    height: calc(100vh - 50px);
    margin: 25px auto 25px;
    position: relative;
}

aside{
    width: 35%;
    background-color: white;
    height: 100%;
}

main{
    width: 65%;
    height: 100%;
}

.aside-header, header{
    height: 72px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside-header i, header i{
    color: #B1B1B1;
    font-size: larger;
}

.aside-header{
    border-right: 1px solid #D6D6D6;
}

.aside-header > *, header > *{
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.text-area{
    height: 70px;
    background-color: #F3EEEA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
}

.chat{
    background-image: url("https://w0.peakpx.com/wallpaper/744/548/HD-wallpaper-whatsapp-ma-doodle-pattern-thumbnail.jpg");
    height: calc(100% - 142px);
    overflow-y: auto;
}

.notification-reminder{
    height: 80px;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.notification-reminder i {
    color: #8EDAFC;
}

nav{
    height: 50px;
    background-color: #FAFAFA;
    padding: 7px;
    display: flex;
    align-items: center;
}

.aside-main{
    height: calc(100% - 202px);
    overflow-y: auto;
}

.blue-banner{
    height: 7%;
    width: 100vw;
    background-color: #0F9688;
    position: absolute;
    top: 0;
}

aside img, header img{
    width: 55px;
    border-radius: 50%;
}

.last-online{
    font-size: x-small;
    color: #979D9E;
}

.notification-text{
    font-size: x-small;
    color: #547C8E;
    text-decoration: underline;
}

.nav-search-icon{
    background-color: white;
    padding: 9px 25px;
    height: 100%;
    border: 1px solid #F5F5F5;
    border-right: none;

}
nav input{
    background-color: white;
    border: 1px solid #F5F5F5;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

.text-area input{
    background-color: white;
    border: none;
    border-radius: 6px;
    height: 100%;
    padding-left: 10px;
    width: 100%;
}

.text-area i{
    font-size: x-large;
    color: #5F6A71;
}

.avatar-list{
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.avatar-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-right{
    position: absolute;
    top: 10px; 
    right: 10px;
    font-size: x-small;
    color: #B5B8BA;
}